/**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-indigo-1: #10b981;
  --vp-c-indigo-2: #10b981;
  --vp-c-indigo-3: #10b981;
}

/**
   * Component: Home
   * -------------------------------------------------------------------------- */
:root {
  --color1: #76bbfa;
  --color2: #10b981;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    60deg,
    var(--color2) 39%,
    var(--color1)
  );
  --vp-home-hero-name-background-title: -webkit-linear-gradient(
    120deg,
    var(--color2) 39%,
    currentColor
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--color1) 50%,
    var(--color2) 50%,
    transparent 99%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
