# Editor directories and files
.idea
.hbuilderx
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package Manager
node_modules
yarn.lock
package-lock.json

# System
.DS_Store

# Bundle
dist
dist-ssr
cache
coverage

# Log files
.pnpm-debug.log*
lerna-debug.log*

# Local env files
*.local

# Auto import
**/auto-imports.d.ts
**/components.d.ts

# plug-in
.history
