@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('@font-url/YouSheBiaoTiHei.ttf');
}

@font-face {
  font-family: Source Han Sans CN;
  src: url('@font-url/SourceHanSansCN-Regular.otf');
}

@font-face {
  font-family: Source Han Sans CN Regular;
  src: url('@font-url/SourceHanSansCN-Regular.otf');
}

@font-face {
  font-family: Source Han Sans CN Normal;
  src: url('@font-url/SourceHanSansCN-Normal.ttf');
}

@font-face {
  font-family: Source Han Sans CN Medium;
  src: url('@font-url/SourceHanSansCN-Medium.ttf');
}

@font-face {
  font-family: Source Han Sans CN Bold;
  src: url('@font-url/SourceHanSansCN-Bold.ttf');
}

@font-face {
  font-family: Source Han Sans CN Heavy;
  src: url('@font-url/SourceHanSansCN-Heavy.ttf');
}

@font-face {
  font-family: Source Han Sans SC;
  src: url('@font-url/SourceHanSansSC-Regular.ttf');
}

@font-face {
  font-family: Source Han Sans SC Regular;
  src: url('@font-url/SourceHanSansSC-Regular.ttf');
}

@font-face {
  font-family: Alibaba PuHuiTi;
  src: url('@font-url/Alibaba-PuHuiTi-Regular.otf');
}

@font-face {
  font-family: Alibaba PuHuiTi Regular;
  src: url('@font-url/Alibaba-PuHuiTi-Regular.otf');
}

@font-face {
  font-family: Alibaba PuHuiTi Light;
  src: url('@font-url/Alibaba-PuHuiTi-Light.otf');
}

@font-face {
  font-family: Alibaba PuHuiTi Medium;
  src: url('@font-url/Alibaba-PuHuiTi-Medium.otf');
}

@font-face {
  font-family: Alibaba PuHuiTi Bold;
  src: url('@font-url/Alibaba-PuHuiTi-Bold.otf');
}

@font-face {
  font-family: Alibaba PuHuiTi Heavy;
  src: url('@font-url/Alibaba-PuHuiTi-Heavy.otf');
}

@font-face {
  font-family: AlimamaShuHeiTi Bold;
  src: url('@font-url/AlimamaShuHeiTi-Bold.TTF');
}

@font-face {
  font-family: FZZDHJW;
  src: url('@font-url/FZZDHJW.TTF');
}

@font-face {
  font-family: Yuweij;
  src: url('@font-url/Yuweij.ttf');
}

@font-face {
  font-family: 'SJbangshujianti-Regular';
  src: url('@font-url/SJbangshujianti-Regular.ttf');
}

@font-face {
  font-family: 'RuiZiYunZiKuXingKaiGB-2';
  src: url('@font-url/RuiZiYunZiKuXingKaiGB-2.ttf');
}

@font-face {
  font-family: PangMenZhengDao;
  src: url('@font-url/pangmenzhengdao.ttf');
}


@font-face {
  font-family: ZhongheiJianti;
  src: url('@font-url/jingdian-zhonghei-jianti.TTF');
}
