
/** 自定义默认主题 */
:root {
  --el-text-color-primary: #333333;
  --custom-page-header-bg-primary: var(--el-color-primary);
  --custom-page-bg: #F4F5F9;
  --custom-table-header-bg-color: #FAFAFA;
  --custom-common-page-header-height: 80px;
  --custom-main-padding: 15px;
  --custom-tab-color: #409EFF;
  --custom-table-header-text-color: #787878;
  --custom-tab-border-color: #e6e7ea;
  --custom-border-radius: 0.5rem;
  --custom-border-radius-min: 0.375rem;
  --custom-card-padding: 1.5rem;
  --custom-border-color: var(--el-border-color-light);
  /** 左侧导航菜单自定义主题 */
  --custom-el-menu-bg-color: var(--el-fill-color-blank);
  --custom-el-menu-text-color: var(--el-text-color-primary);
  --custom-el-menu-item-active-bg: linear-gradient(
    90deg,
    var(--el-color-primary) 0%,
    var(--el-color-primary-light-9) 100%
  );
}

/** 龘云主题色配置 */
[theme-chalk='dayun'] {
  --custom-common-page-header-height: 64px;
  --custom-el-menu-bg-color: var(--el-color-primary);
  --custom-el-menu-text-color: var(--el-color-white);
  --custom-el-menu-item-active-bg: #3077ec;
}

